@using TheStudyList.Domain.Entities
@model IEnumerable<Note>

@{
    ViewBag.Title = "To Review";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered review">
    <tr>
        <th>Title</th>
        <th>T</th>
        <th>Due</th>
        <th>Ivl</th>
        <th>Resources</th>
    </tr>
    @foreach (var note in Model)
    {
        <tr>
            <td>@note.Title</td>
            <td>@note.TimeEstimate</td>
            <td class="@(note.DueDate < DateTime.Today ? "overdue" 
            : note.DueDate.Date == DateTime.Today ? "due-today"
            : "")">@note.DueDate.ToString("dd/MM/yy")</td>
            <td>@(note.IntervalInDays)d</td>
            <td>
                <ul>
                    @foreach (var resource in note.Resources)
                    {
                        <li>
                            @if (resource.Url.IsEmpty())
                            {
                                @resource.Title
                            }
                            else if (resource.IsEvernote())
                            {
                                <a href="@resource.Url" class="evernote">@resource.Title</a>
                            }
                            else
                            {
                                <a href="@resource.Url" target="_blank">@resource.Title</a>
                            }
                        </li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>

