@using System.Web.Mvc.Html
@model TheStudyList.Models.StudyListViewModel

@{
    ViewBag.Title = (string.IsNullOrWhiteSpace(Model.CurrentNotebook) ? 
        "All Notes" : Model.CurrentNotebook);
    var dueNotes = Model.Notes.Where(n => n.IsDue() || n.IsOverdue());
    var upcomingNotes = Model.Notes.Where(n => !n.IsDue() && !n.IsOverdue());
}

<div id="notebooks">
    @Html.Action("NotebookMenu")
</div>

<h3>Due (@dueNotes.Count())</h3>

@Html.Partial("StudyListTable", dueNotes)

<h3>Upcoming (@upcomingNotes.Count())</h3>

@Html.Partial("StudyListTable", upcomingNotes)