@using Ninject.Infrastructure.Language
@model TheStudyList.Domain.Entities.Note

@{
    ViewBag.Title = "Study";
    int hard = Model.IntervalHard();
    int good = Model.IntervalGood();
    int easy = Model.IntervalEasy();
}

<h2>@Model.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntervalInDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntervalInDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstStudiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstStudiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEstimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEstimate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        
        <dd>
            @string.Join(", ", Model.Reviews.Select(r => r.Date.ToString("dd/MM/yy")).Reverse())
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    <div class="well" id="well-study">
        <div class="btn-group">
            @Html.HiddenFor(m => m.Id)
            <button type="submit" class="btn btn-default" name="ivl" value="@(hard)">@(hard)d<br/>HARD</button>
            <button type="submit" class="btn btn-default" name="ivl" value="@(good)">@(good)d<br/>GOOD</button>
            <button type="submit" class="btn btn-default" name="ivl" value="@(easy)">@(easy)d<br/>EASY</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" id="btn-custom-ivl" name="ivl" value="0">...</button>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "StudyList")
</p>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#btn-custom-ivl").click(function () {
                var ivl = prompt("Enter interval in days");
                $(this).attr("value", ivl);
                //$("form").submit();
            });
        });
    </script>
}
