@model TheStudyList.Models.StudyViewModel

@{
    ViewBag.Title = "Study";
    int hard = Model.Note.IntervalHard();
    int good = Model.Note.IntervalGood();
    int easy = Model.Note.IntervalEasy();
}

<h2>@Model.Note.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Note.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note.IntervalInDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note.IntervalInDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note.FirstStudiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note.FirstStudiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note.Notebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note.Notebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note.TimeEstimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note.TimeEstimate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Note.Reviews)
        </dt>
        
        <dd>
            @string.Join(", ", Model.Note.Reviews.Select(r => r.Date.ToString("dd/MM/yy")).Reverse())
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    <div class="well" id="well-study">
        <div class="btn-group">
            @Html.HiddenFor(model => model.Note.Id)
            <button type="submit" class="btn btn-default" name="Interval" value="@(hard)">@(hard)d<br/>HARD</button>
            <button type="submit" class="btn btn-default" name="Interval" value="@(good)">@(good)d<br/>GOOD</button>
            <button type="submit" class="btn btn-default" name="Interval" value="@(easy)">@(easy)d<br/>EASY</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" id="btn-custom-ivl" name="ivl" value="0">...</button>
        </div>
    </div>
}

<p>
    <a href ="@Model.ReturnUrl">Back to List</a> | 
    @Html.ActionLink("Edit", "Edit", new { id = Model.Note.Id, returnUrl = Model.ReturnUrl })
</p>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#btn-custom-ivl").click(function () {
                var ivl = prompt("Enter interval in days");
                $(this).attr("value", ivl);
            });
        });
    </script>
}
