@using TheStudyList.Domain.Entities
@model IEnumerable<Note>

<table class="table table-bordered review">
    <thead>
    <tr>
        <th style="width: 150px">Title</th>
        <th class="text-center" style="width: 42px">Time</th>
        <th class="text-center" style="width: 50px">Due</th>
        <th class="text-center" style="width: 35px">Ivl</th>
        <th style="width: 130px">Resources</th>
        <th class="text-center" style="width: 23px">R</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@Html.ActionLink(note.Title, "Edit", new { id = note.Id })</td>
                <td class="text-center time-est-@((int) note.TimeEstimate)">@note.TimeEstimate</td>
                <td class="text-center @(note.IsOverdue() ? "overdue"
                                         : note.IsDue() ? "due-today"
                                         : "")">
                    @note.DueDate.ToString("dd MMM")
                </td>
                <td class="text-center">@(note.IntervalInDays)d</td>
                <td>
                    <ul>
                        @foreach (var resource in note.Resources)
                        {
                            <li>
                                @if (resource.Url.IsEmpty())
                                {
                                    @resource.Title
                                }
                                else if (resource.IsEvernote())
                                {
                                    <a href="@resource.Url" class="evernote">@resource.Title</a>
                                }
                                else
                                {
                                    <a href="@resource.Url" target="_blank">@resource.Title</a>
                                }
                            </li>
                        }
                    </ul>
                </td>
                <td class="text-center">
                    @Html.ActionLink("✔", "Study", "Note", new { id = note.Id },
                    new { @class = "btn btn-success", id = "btn-study" })
                </td>
            </tr>
        }
    </tbody>
</table>